.preloader {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	justify-content: center;
	align-items: center;
	visibility: visible;
}

.preloader span {
	display: block;
	height: 15px;
	width: 15px;
	margin: 0 7px;
	border-radius: 10px;
	animation: 1.2s upDown infinite;
}

.preloader span:first-child {
	animation-delay: .15s;
}

.preloader span:nth-child(2) {
	animation-delay: .3s;
}

.preloader span:nth-child(3) {
	animation-delay: .45s;
}

.preloader span:nth-child(4) {
	animation-delay: .6s;
}

.preloader span:last-child {
	animation-delay: .75s;
}

#particles-js{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: #ffffff;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

@keyframes upDown {
	0% {
		height: 15px;
		background: #4481eb;
	}
	100% {
		height: 60px;
		background: #04befe;
	}
}